fastapi
uvicorn
jinja2
python-multipart
requests
httpx
tenacity
python-dotenv
pyquery
lxml
beautifulsoup4
pandas
duckdb
orjson
rapidfuzz
typer
rich
diskcache
nrewebservices
realtime-trains-py
pytest
pytest-cov
ruff
